/* --------------------------------------------------------------------------------
 * Header.
 * -------------------------------------------------------------------------------- */
.header-wrapper .toolbar {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    margin: 0;
    min-height: 50px;
    max-height: 50px;
    background-color: #1B435D;
    color: #ffffff;
    font-size: 1.4rem;
}

.header-wrapper .toolbar-row {
    padding: 0 0;
}

.header-wrapper .menu {
    height: 50px;
}

.header-wrapper .menu:hover {
    opacity: 0.7;
}

.header-wrapper .menu.btnSystemName {
    padding-left: 10px;
}

.header-wrapper .menu.btnSignOut {
    text-align: right;
    padding-right: 10px;
    margin-right: 0;
    right: 0;
    position: absolute;
    height: 50px;
}

.header-wrapper .btnSidenav {
    display: none;
}

/* --------------------------------------------------------------------------------
 * Smart Phones and tablets settings.
 * -------------------------------------------------------------------------------- */
@media screen and (max-width:768px) {
    .header-wrapper .menu.mainMenu {
        display: none;
    }

    .header-wrapper .btnSidenav {
        display: block;
    }
}