<section class="sign-in-page-wrapper">
  <div class="sign-in-page">
    <div class="sign-in-title-wrapper">
      <p>EXAPMLE SITE</p>
    </div>
    <app-error-messaging></app-error-messaging>
    <div class="sign-in-criteria-wrapper">
      <form [formGroup]="signInForm">
        <mat-form-field class="form-field" hideRequiredMarker>
          <input id="signin-user-account" matInput type="text" formControlName="signInUserAccount"
            placeholder="{{ 'signInPage.userAccount' | translate }}">
          <mat-error class="validation-error" *ngIf="signInUserAccount.hasError('required')">
            {{'validationError.required'|translate}}
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" hideRequiredMarker>
          <input id="signin-user-password" matInput type="password" formControlName="signInUserPassword"
            placeholder="{{ 'signInPage.userPassword' | translate }}">
          <mat-error class="validation-error" *ngIf="signInUserPassword.hasError('required')">
            {{'validationError.required'|translate}}
          </mat-error>
        </mat-form-field>
      </form>
      <button mat-flat-button id="sign-in-button" class="flat-button" type="button" [disabled]="!signInForm.valid"
        (click)="clickSignInButton()">{{ 'signInPage.signInButton' | translate }}</button>
    </div>
  </div>
</section>